google-genai
groq
python-dotenv
arxiv
requests
langchain
langchain-community
langchain-core
sentence-transformers
langchain-groq
langchain-huggingface
transformers
torch
chromadb 
qdrant-client 
rank-bm25 
faiss-cpu 
pypdf 
pymupdf 
fastapi 
uvicorn 
pydantic 
ragas 
datasets 
numpy 
pandas 
tqdm 
httpx 
python-multipart 
accelerate 
einops